framework: >= net45
source https://api.nuget.org/v3/index.json

nuget FSharp.Collections.ParallelSeq
nuget FSharp.Core ~> 3
nuget FSharpx.Collections
nuget Fuchu
github logary/logary src/Logary.Facade/Facade.fs
